body
{
    margin: 0;
}
header
{
    display: flex;
    border: 1px solid;
    height: 10vh;
    width: 100%;
    margin-bottom: 2vh;
}

img
{
    width: 100px;
    height: 60px;
}
main
{
    border: 1px solid;
    margin: 0 auto;
}
#right
{
    margin-left: auto;
    height: 10px;
    padding: 0 10vh;
    margin-top: 1.5vh;
}
#right > a 
{
    margin: 0 0;
}
#left
{
    margin-right: auto;
    margin-top: 1vh;
}

#post-box
{
    border: 1px solid;
    width: 60vw;
    height: max-content;
    margin: 2% auto;

}
#post-header
{
    display: flex;
    border-bottom: 1px solid;
    padding: 0.1% 3%;
}
#username
{
    font-size: 19px;
    margin: 0 1.5vw;
}
#date
{
    margin-left: auto;
    width: 10%;
    margin-top: 3vh;
}
#post-content
{
    border: 1px solid;
    margin: 2% auto;
    width: 97%;
    height: max-content;
}
#hour
{
    margin: auto;
    width:max-content;
}
#Tittle
{
    font-size: 22px;
    border-bottom: 1px solid;
    margin: 0;
    padding: 2% 3%;
}
#text
{
    padding: 2%;
    max-width: 90%;
}
